In [ ]:
import datapane as dp
import warnings
warnings.filterwarnings("ignore")

# Toggle

::: datapane.Toggle

## Simple Toggle

In [ ]:
import seaborn as sns
import altair as alt

code = """
titanic = sns.load_dataset("titanic")

app = dp.App(
    "# Titanic overview",
    dp.HTML(
        '<html><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/1599px-RMS_Titanic_3.jpg" style="height:400px;display:flex;margin:auto"></img></html>'
    ),
    dp.Select(
        blocks=[
            dp.Table(titanic.describe(), label="Data Description"),
            dp.DataTable(titanic, label="Whole Dataset"),
            dp.Code(code, label="Source code"),
        ]
    ),
)

app.save(path="select.html")
"""

titanic = sns.load_dataset("titanic")

dp.Blocks(
    "# Titanic overview",
    dp.HTML(
        '<html><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/1599px-RMS_Titanic_3.jpg" style="height:400px;display:flex;margin:auto"></img></html>'
    ),
    dp.Toggle(
        blocks=[
            dp.Table(titanic.describe(), label="Data Description"),
            dp.DataTable(titanic, label="Whole Dataset"),
            dp.Code(code, label="Source code"),
        ]
    ),
)