# DataTable

The DataTable block takes a pandas DataFrame and renders an interactive, sortable, searchable table in your report, along with advanced analysis options such as exploring data through [SandDance](https://www.microsoft.com/en-us/research/project/sanddance/). It supports large datasets and viewers can also download the table from the website as a CSV or Excel file.

!!! info

    DataTable works for reports uploaded to Datapane.com as well as locally saved reports.

In [5]:
import datapane as dp
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        "A": np.random.normal(-1, 1, 5000),
        "B": np.random.normal(1, 2, 5000),
    }
)

table = dp.DataTable(df)
report = dp.Report(table)
report.save(path="datatable.html")

Report saved to ./datatable.html

In [6]:
from dpdocsutils import previews
previews.embed_local_report('/catalogues/blocks/datatable.html', width="100%", height=540)

## Running Queries on DataTable

You can run SQL queries on your datatable if you need more advanced filtering & calculations. In the previous example, if we wanted to show only the rows which had a value A > 0.5, we would write the following (note that `$tbl` is the builtin table name and cannot be changed):  &#x20;

```sql
SELECT * FROM $tbl
WHERE A > 0.5
```